$g1: #333;
$g2: #444;
$g3: #666;
$g4: #999;

$w1: #fff;
$w2: #eee;
$w3: #ccc;
$w4: #aaa;

body {
    background: $g1;
    color: $w2;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    padding: 2rem;
    flex: 1 0 auto;
    > .row {
        height: 100%;
    }
}
      
i.material-icons {
    &.md-36 {
        font-size: 36px !important;
    }
    &.md-48 {
        font-size: 48px !important;
    }
}
nav {
    .brand-logo {
        padding: 0 1rem;
    }
}
.user-card {
    background: $g3;
    display: grid;
    margin: 1rem 0;
    grid-template-columns: 7rem 1fr;
    img {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .body {
        padding: .25rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h5 {
            margin-top: .25em;
            font-weight: 300;
            color: $w1;
        }
        a.button {
            display: inline-block;
            background: $g4;
            color: $w2;
            padding: .25em .75em;
        }
    }
}
.page-footer {
    padding-top: 0;
    text-align: center;
}

#movies {
    & > .col {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}