<div class="row">
    <div class="col s6 m8 l9">
        <h3>Books</h3>
        <div id="books">
            <div ng-repeat="book in books" class="book media">
                <a ng-href="#!/book/{{book.id}}" style="background-image: url({{book.image}});">
                </a>
            </div>
        </div>
        <h3>Movies</h3>
        <div id="movies">
            <div ng-repeat="movie in movies" class="movie media">
                <a ng-href="#!/movie/{{movie.id}}">
                    <img ng-src="{{movie.small_image}}">
                </a>
            </div>
        </div>
        <h3>TV shows</h3>
        <div id="tv">
            <div ng-repeat="show in tvShows" class="tv media">
                <a ng-href="#!/tv/{{show.id}}">
                    <img ng-src="{{show.small_image}}">
                </a>
            </div>
        </div>
    </div>
    <div class="col s6 m4 l3" id="sidebar">
        <div id="user" ng-include="'/assets/partials/user.html'" ng-controller="UserCtrl"></div>
    </div>
</div>