<h3>Activity</h3>
<div id="{{link.music.id}}" ng-repeat="link in links" class="link">
    <a ng-click="play(link.music.ownerId, link.music)" class="btn-floating btn waves-effect waves-light play"><i class="material-icons">play_arrow</i></a>
    <div class="img" style="background-image:url({{link.music.small_image}});"></div>
    <div class="body">
        <h5><a ng-href="#!/{{link.music.prefix}}{{link.music.type}}/{{link.music.id}}">{{link.music.title}}</a></h5>
        <h6>{{link.music.subtitle}}</h6>
        <div class="tags">
            <span class="tag" ng-repeat="tag in link.tags">{{tag}}</span>
            <a ng-href="#!/{{link.media.type}}/{{link.media.id}}" ng-show="context!='media'" class="tag">{{link.media.title}}</a>
            <a ng-href="#!/user/{{link.uid}}" ng-show="context!='profile'" class="author tag">{{link.name}}</a>
        </div>
    </div>
    <div class="ops" ng-show="user.id == link.uid">
        <a ng-href="#!/link/{{link.key}}">
            <i class="material-icons">edit</i>
        </a>
        <a ng-click="deleteLink(link.key)">
            <i class="material-icons">clear</i>
        </a>
    </div>
    <div class="votes" ng-show="user.id != link.uid && user">
        <a ng-click="upvote(link.key)" ng-class="{'active': link.vote == 1}">
            <i class="material-icons">thumb_up</i>
        </a>
        <a ng-click="downvote(link.key)" ng-class="{'active': link.vote == -1}">
            <i class="material-icons">thumb_down</i>
        </a>
    </div>
</div>