<div class="row container" id="newMix">
    <div class="col s12 m6">
        <div class="input-field">
            <input ng-model="mediaSearchTerm" type="text">
            <label for="mediaSearchTerm">Search media</label>
        </div>
        <div id="media-choices" ng-init="activeMedia=false" ng-click="mediaResults=[]">
            <a ng-click="activeMedia='book'; searchMedia(); selectedMedia=false" ng-class="{'active': activeMedia=='book'}">
                <i class="material-icons">chrome_reader_mode</i>
            </a>
            <a ng-click="activeMedia='movie'; searchMedia(); selectedMedia=false" ng-class="{'active': activeMedia=='movie'}">
                <i class="material-icons">theaters</i>
            </a>
            <a ng-click="activeMedia='tv'; searchMedia(); selectedMedia=false" ng-class="{'active': activeMedia=='tv'}">
                <i class="material-icons">tv</i>
            </a>
        </div>
        <div id="selectedMedia" ng-show="selectedMedia">
            <img src="{{selectedMedia.image}}">
            <h1>{{selectedMedia.title}}</h1>
            <h2>{{selectedMedia.subtitle}}</h2>
        </div>
        <div ng-show="!selectedMedia" id="mediaSearchResults">
            <div id="{{result.best_book.id._text}}" ng-show="activeMedia=='book'" class="search-result books" ng-repeat="result in mediaResults">
                <img ng-src="{{result.best_book.image_url._text}}">
                <div class="body">
                    <h5>{{result.best_book.title._text}}</h5>
                    <h6>{{result.best_book.author.name._text}}</h6>
                </div>
                <a ng-click="selectMedia(result.best_book.id._text)">
                    <i class="material-icons">add_circle_outline</i>
                </a>
            </div>
            <div id="{{result.id}}" ng-show="activeMedia=='movie'" class="search-result movies" ng-repeat="result in mediaResults">
                <img ng-src="{{image_prefix}}{{result.poster_path}}">
                <div class="body">
                    <h5>{{result.title}}</h5>
                    <h6>{{result.release_date.slice(0,4)}}</h6>
                </div>
                <a ng-click="selectMedia(result.id)">
                    <i class="material-icons">add_circle_outline</i>
                </a>
            </div>
            <div id="{{result.id}}" ng-show="activeMedia=='tv'" class="search-result tv" ng-repeat="result in mediaResults">
                <img ng-src="{{image_prefix}}{{result.poster_path}}">
                <div class="body">
                    <h5>{{result.name}}</h5>
                    <h6>{{result.first_air_date.slice(0,4)}}</h6>
                </div>
                <a ng-click="selectMedia(result.id)">
                    <i class="material-icons">add_circle_outline</i>
                </a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="input-field">
            <input ng-model="musicSearchTerm" type="text">
            <label for="musicSearchTerm">Search music</label>
        </div>
        <div id="music-choices" ng-init="activeMusic=false" ng-click="musicResults=[]">
            <a ng-click="activeMusic='track'; searchMusic(); selectedMusic=false" ng-class="{'active': activeMusic=='track'}">
                <i class="material-icons">music_note</i>
            </a>
            <a ng-click="activeMusic='playlist'; searchMusic(); selectedMusic=false" ng-class="{'active': activeMusic=='playlist'}">
                <i class="material-icons">queue_music</i>
            </a>
        </div>
        <div id="selectedMusic" ng-show="selectedMusic">
            <img src="{{selectedMusic.image}}">
            <h1>{{selectedMusic.title}}</h1>
            <h2>{{selectedMusic.subtitle}}</h2>
        </div>
        <div id="musicSearchResults" ng-show="!selectedMusic">
            <div id="{{result.id}}" ng-show="activeMusic=='track'" class="search-result tracks" ng-repeat="result in musicResults">
                <div class="img" style="background-image:url({{result.album.images[2].url}});"></div>
                <div class="body">
                    <h5>{{result.name}}</h5>
                    <h6>{{result.artists[0].name}}</h6>
                </div>
                <a ng-click="selectMusic(result.id)">
                    <i class="material-icons">add_circle_outline</i>
                </a>
            </div>
        </div>
    </div>
    <div class="col s12" id="submit" ng-show="selectedMusic && selectedMedia" ng-init="tags=''">
        <div class="input-field" ng-init="tags=''">
            <input ng-model="tags" type="text">
            <label for="tags">Add tags separated by commas</label>
        </div>
        <div class="tags" ng-show="tags!=''">
            <div class="tag" ng-repeat="tag in tags.trim().split(',')">
                {{tag}}
            </div>
        </div>
        <a ng-click="submit()" class="button wide big">Post Mix</a>
    </div>
</div>