<div class="row container">
    <div class="col s12 m6">
        <div class="input-field">
            <input ng-model="mediaSearch" type="text">
            <label for="mediaSearch">Search media</label>
        </div>
        <div id="media-choices">
            <a ng-click="setActive('books')" class="{{isActive('books')}}">
                <i class="material-icons">chrome_reader_mode</i>
            </a>
            <a ng-click="setActive('movies')" class="{{isActive('movies')}}">
                <i class="material-icons">theaters</i>
            </a>
            <a ng-click="setActive('tv')" class="{{isActive('tv')}}">
                <i class="material-icons">tv</i>
            </a>
        </div>
    </div>
    <div class="col s12 m6">
        Search Tracks
    </div>
</div>