<h3>Activity</h3>
<div id="{{link.music.id}}" ng-repeat="link in links" class="link">
    <div class="img" style="background-image:url({{link.music.small_image}});"></div>
    <div class="body">
        <h5><a ng-href="#!/{{link.music.prefix}}{{link.music.type}}/{{link.music.id}}">{{link.music.title}}</a></h5>
        <h6>{{link.music.subtitle}}</h6>
        <div class="tags">
            <span class="tag" ng-repeat="tag in link.tags">{{tag}}</span>
            <a ng-href="#!/{{link.media.type}}/{{link.media.id}}" ng-show="context!='media'" class="tag">{{link.media.title}}</a>
            <a ng-href="#!/user/{{link.uid}}" ng-show="context!='profile'" class="author tag">{{link.name}}</a>
        </div>
    </div>
</div>